{% extends 'base.html' %}

{% block content %}
    <h1>Welcome!!</h1>
    <br>
    {% include "card.partial" with title="New Tickets" tickets=tickets_new %}
    <br>
    {% include "card.partial" with title="In Progress Tickets" tickets=tickets_in_progress %}
    <br>
    {% include "card.partial" with title="Done Tickets" tickets=tickets_done %}
    <br>
    {% include "card.partial" with title="Invalid Tickets" tickets=tickets_invalid_tickets %}
    <br>
    <br>
    <a href="logout/">Logout</a>
{% endblock %}
